.downloadsPane {
  .downloadsPane-choices-titleContainer {
    height: 40px;
    width: calc(100% - 10px);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
    margin: 5px;
    text-align: center;
    line-height: 40px;
    font-size: 14pt;
    color: white;
    background-color: rgba(10, 131, 201, 1);
    .downloadsPane-choices-titleIcon {
      margin-left: 10px;
    }
    .downloadsPane-toggleDataType{
      position: absolute;
      height: 20px;
      top: 10px;
      right: 13px;
      border: 1px solid white;
      overflow: hidden;
      cursor: pointer;
      .downloadsPane-toggleDataType-choice{
        position: relative;
        height: 20px;
        font-size: 8pt;
        margin: 0px;
        line-height: 20px;
        float: right;
        transition-duration: .2s;
        .downloadsPane-toggleDataType-choice-text{
          padding-left: 3.5px;
          padding-right: 3.5px;
          pointer-events: none;
          user-select: none;
        }
      }
      .downloadsPane-toggleDataType-choice-active{
        color: rgba(10, 131, 201, 1);
        background-color: white;
      }
      .downloadsPane-toggleDataType-choice-inactive{
        color: white;
        &:hover{
          background-color: rgba(255, 255, 255, .1);
        }
      }
    }
  }
  .downloadsPane-choices-map{
    .downloadsPane-choices-pdf {
      width: calc(100% - 10px);
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 2.5px;
      color: #FF424A;
      &:hover {
        color: white;
        background-color: #FF424A;
      }
    }
  }
  .downloadsPane-choices-censusData {
    .downloadsPane-choices-json {
      width: calc(50% - 7.5px);
      margin-left: 5px;
      margin-right: 2.5px;
      margin-bottom: 2.5px;
      color: #0A83C9;
      &:hover {
        color: white;
        background-color: #3A9AD2;
      }
    }
    .downloadsPane-choices-csv {
      width: calc(50% - 7.5px);
      margin-right: 5px;
      margin-left: 2.5px;
      margin-bottom: 2.5px;
      color: #FF9800;
      &:hover {
        color: white;
        background-color: #FF9800;
      }
    }
  }
  .downloadsPane-choices-mapSession {
    a {
      width: 100%;
      .downloadsPane-choices-json {
        width: calc(100% - 10px);
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 2.5px;
        color: #0A83C9;
        &:hover {
          color: white;
          background-color: #0A83C9;
        }
      }
    }
  }
  .downloadsPane-choices {
    display: flex!important;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 5px;
    .downloadsPane-choice {
      height: 75px;
      text-align: center;
      // border: 1px solid rgb(100,100,100);
      cursor: pointer;
      line-height: 75px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
      transition-duration: .2s;
      user-select: none;
      &:hover {
        transition-duration: .2s;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.45);
      }
      .downloadsPane-choice-title {
        font-size: 13.5pt;
        .downloadsPane-choice-icon {
          margin-right: 10px;
        }
      }
    }
  }
}