.navBarButton{
  height: 36px;
  width: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 16.5pt;
  cursor: pointer;
}
.navBarButton-active{
  color: white;
}
.navBarButton-inactive{
  color: rgba(255,255,255,.8)
}