.navBarButton{
  position: relative;
  height: 36px;
  width: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 16.5pt;
  cursor: pointer;
  .navBarButton-count{
    z-index: 500;
    height: 13px;
    width: 13px;
    // color: rgba(255, 183, 77, 1);
    color: white
    // background-color: white;
    background-color: rgba(255, 183, 77, 1);
    border-radius: 13px;
    line-height: 13px;
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 8pt;
    font-weight: bold;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  }
}
.navBarButton-active{
  color: white;
  .hoverBox{
    background-color: rgba(255,255,255,0);
  }
  .activeBar{
    height: 100%;
  }
}
.navBarButton-inactive{
  color: rgba(255,255,255,.8);
  .hoverBox{
    background-color: rgba(255,255,255,0);
    &:hover{
      background-color: rgba(255,255,255,.15);
    }
  }
  .activeBar{
    height: 0%
  }
}
.hoverBox{
  position: absolute;
  top: 4px;
  left: 4px;
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  border-radius: 4px;
  transition-duration: .2s
}
.activeBarContainer{
  position: absolute;
  top: 2px;
  left: 0px;
  height: calc(100% - 4px);
  width: 3.25px;
  display: flex;
  flex-direction: column;
  justify-content: center
}
.activeBar{
  width: 100%
  border-radius: 2px;
  background-color: #FFB74D;
  transition-duration: .2s;
}

.loadingSpinner-small {
    position: absolute;
    z-index: 499;
    box-sizing: border-box;
    border-radius: 100%;
    border: 3.5px solid rgba(255, 255, 255, 0.0);
    border-top-color: #FFB74D;
    animation: spin .5s infinite linear;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
  }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}