.navBar{
  position: absolute;
  width: 36px;
  background-color: #0A83C9;
  height: 100vh;
  width: 36px;
  top: 0px;
  left: 0px;
  z-index: 100;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  // box-shadow: 0px 50px 10px rgba(0, 0, 0, 0.5);
}
// .navBarTooltip{
//   padding: 4px!important;
//   font-size: 12pt!important;
//   background-color: rgba(10,131,201, 1)!important;
//   opacity: 1!important;
//   z-index: 500!important
// }
// .__react_component_tooltip.place-right:after {
//   border: 0 !important;
// }