.mapSplitter-container {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 725px) {
    flex-direction: row;
    .mapSplitter {
      width: 100%;
      flex-direction: row;
    }
    .mapSplitter-dividerPreview {
      height: 1.5px;
    }
    .mapSplitter-tooltip {
      left: 50px;
    }
    .mapSplitter-tooltip-false {
      animation-name: fadeOutRight;
    }
  }
  @media (min-width: 725.00001px) {
    flex-direction: column;
    .mapSplitter {
      height: 100%;
      flex-direction: column;
    }
    .mapSplitter-dividerPreview {
      width: 1.5px;
    }
    .mapSplitter-tooltip {
      top: 50px;
    }
    .mapSplitter-tooltip-false {
      animation-name: fadeOutRight;
    }
  }
  .mapSplitter {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    z-index: 100;
    position: relative;
    .mapSplitter-tooltip-false {
      animation-delay: 3s;
      animation-duration: 4.5s;
      animation-delay: 1s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      opacity: 0;
      margin-left: 10px;
    }
    @keyframes fadeOutRight {
      0% {
        opacity: 0;
        margin-left: 20px;
      }
      4% {
        opacity: 1;
        margin-left: 0px;
      }
      96% {
        opacity: 1;
        margin-left: 0px;
      }
      100% {
        opacity: 0;
        margin-left: 20px;
      }
    }
    @keyframes fadeOutBottom {
      0% {
        opacity: 0;
        margin-top: 20px;
      }
      3% {
        opacity: 1;
        margin-top: 0px;
      }
      97% {
        opacity: 1;
        margin-top: 0px;
      }
      100% {
        opacity: 0;
        margin-top: 20px;
      }
    }
    .mapSplitter-tooltip {
      position: absolute;
      width: max-content;
      height: 30px;
      background-color: #3E95F8;
      padding: 2.5px;
      padding-left: 4px;
      padding-right: 4px;
      border-radius: 5px;
      z-index: 1000;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .mapSplitter-tooltip-text{
        color: white;
        font-family: 'Noto Sans';
        font-weight: 400;
        font-size: 11pt;
        white-space:nowrap;
      }
    }
    .mapSplitter-button {
      margin: 10px;
    }
    .mapSplitter-dividerPreview {
      background-color: #3E95F8;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
      transition: opacity .1s linear, box-shadow .1s linear, margin 0.1s linear;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);      
      flex-grow: 1;
      margin: 20px;
    }
    .mapSplitter-dividerPreview-hover {
      opacity: 1;
    }
    .mapSplitter-dividerPreview-unhover {
      opacity: 0;
    }
    .mapSplitter-dividerPreview-press {
      margin: 5px!important;
    }
    .mapSplitter-dividerPreview-unpress {
      // margin: 20px;
    }
  }
}