.mapSplitter-container {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 600px) {
    flex-direction: row;
    .mapSplitter {
      width: 100%;
      flex-direction: row;
    }
    .mapSplitter-dividerPreview {
      height: 1.5px;
    }
  }
  @media (min-width: 600.00001px) {
    flex-direction: column;
    .mapSplitter {
      height: 100%;
      flex-direction: column;
    }
    .mapSplitter-dividerPreview {
      width: 1.5px;
    }
  }
  .mapSplitter {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    z-index: 100;
    .mapSplitter-button {
      margin: 10px;
    }
    .mapSplitter-dividerPreview {
      background-color: #3E95F8;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
      transition: opacity .1s linear, box-shadow .1s linear, margin 0.1s linear;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);      
      flex-grow: 1;
      margin: 20px;
    }
    .mapSplitter-dividerPreview-hover {
      opacity: 1;
    }
    .mapSplitter-dividerPreview-unhover {
      opacity: 0;
    }
    .mapSplitter-dividerPreview-press {
      margin: 5px!important;
    }
    .mapSplitter-dividerPreview-unpress {
      // margin: 20px;
    }
  }
}