.bms-button {
  cursor: pointer;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3E95F8;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  transition: color 0.1s linear, background-color 0.1s linear, box-shadow 0.1s linear;
  min-width: 30px;
  min-height: 30px;
  border-radius: 5px;
  pointer-events: auto;
  &:hover {
    color: white
    background-color: #3E95F8;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
  }
  &:active {
    color: white
    background-color: #3785DE
    box-shadow: 0px 0px 2.5px rgba(0, 0, 0, 0.5);
  }
}