.visualizationPane{
  overflow-y: auto;
  overflow-x: hidden;
  .titleContainer{
    position: relative;
    
  }
  .visualizerChoiceButtons{
      height: 25px;
      width: max-content;
      top: 13.5px;
      position: relative;
      float: right;
      overflow: hidden;
      .visualizerChoiceButton{
        line-height: 25px;
        position: relative;
        height: 100%;
        float: right;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 3px;
        transition-duration: .2s;
        margin-left: 1.5px;
        margin-right: 1.5px;
        cursor: pointer;
      }
      .visualizerChoiceButton-active{
        background-color: #0A83C9;
        color: white;
      }
      .visualizerChoiceButton-inactive{
        background-color: white;
        color: #0A83C9;
        &:hover{
          background-color: rgba(10, 131, 201, .1);
        }
      }
    }
}