.visualizationSection{
  // margin-top: 8px;
}

.header {
  border-bottom: 2px solid #0A83C9;
  height: 30px;
  .header-title {
    font-size: 14pt;
    font-weight: 600;
    color: #0A83C9;
    line-height: 27px;
    .fa-paint-brush {
      margin-left: 10px;
    }
  }
}

.visContainer {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}