.fieldSwitchButton {
  position: relative;
  background-color: rgba(255, 255, 255, .7);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(75, 75, 75);
  border-radius: 3px;
  cursor: pointer;
  float: left;
  transition-duration: 0.2s;
  .fieldSwitchText {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-left: 3px;
    padding-right: 3px;
  }
}

#true {
  background-color: rgb(75, 75, 75);
  color: white;
}

#false {
  color: rgb(0, 0, 0);
  &:hover{
   background-color: rgba(240,240,240,.7);
  }
}