.fieldSwitchPane {
  height: 59px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 2px;
  pointer-events: auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.35);
  }
  .fieldSwitchTitle {
    position: relative;
    top: 5px;
    left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: black;
  }
  .fieldNodes{
    margin-top: 10px; 
  }
  .paneSpacerHorizontal{
    height: 0px;
  }
}