.selectionTableContainer {
  position: relative;
  width: 90%;
  left: 5%;
  height: 138.8px;
  overflow-y: scroll;
  .selectionTable {
    border: 1px solid rgb(200, 200, 200);
    border-collapse: collapse;
    td {
      border-left: 1px solid rgb(200, 200, 200);
      border-right: 1px solid rgb(200, 200, 200);
    }
  }
}