.selectionPaneZoom{
  float: left;
  cursor: pointer;
  top: 3px;
  padding-left: 20px;
  .fa-search-plus{
    font-size: 9pt;
    color: rgb(110,110,110);
    &:hover{
      color: black
    }
  }
}