.selectionTableEntry {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 9pt;
  border-left: 1px;
  border-right: 1px;
  text-indent: 5px;
  padding: 2px;
  #col1{
    width: 100px;
  }
}