.selectionTableContainer {
  position: relative;
  width: 80%;
  left: 10%;
  height: 145px;
  overflow-y: scroll;
  .selectionTable {
    border: 1px solid rgb(200, 200, 200);
    border-collapse: collapse;
    td {
      border-left: 1px solid rgb(200, 200, 200);
      border-right: 1px solid rgb(200, 200, 200);
    }
  }
}