.selectionTitleBar{
  position: relative;
  // background-color: rgb(250,250,250); 
  height: 30px;
  width: 90%;
  left:5%;
  .selectionTitle{
    float: left;
    position: relative;
    left: 5px;
    vertical-align: middle;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(20,20,20);
  }
}
.paneSpacerHorizontal{
  height: 5px;
}