.selectionPaneZoom{
  position: relative;
  float: right;
  cursor: pointer;
  vertical-align: middle;
  top: 3px;
  padding-left: 20px;
  padding-right: 0px;
  .fa-arrows-alt{
    font-size: 9pt;
    color: rgb(110,110,110);
    &:hover{
      color: black
    }
  }
}