.yearSwitchPane{
  position: absolute;
  background-color: rgba(255,255,255,.8);
  border-radius: 4px;
  width: 400px;
  bottom: 10px;
  left: 10px;
  .yearSwitchTitle{
    position: relative;
    top: 5px;
    left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
  }
}