.year-slider {
  height: 30px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 8px;
  z-index: 400;
  .rc-slider-handle {
    border-color: rgb(30,30,30);
    width: 14px;
    height: 14px;
    cursor: pointer;
    border-radius: 50%;
  }
  .rc-slider-step {
    background-color: rgb(30,30,30);
    cursor: pointer;
    .rc-slider-dot {
      border: 2px solid rgb(30,30,30);
      //#5A98C7
    }
  }
}

.rc-slider-mark {
  position: absolute;
  top: 14px;
  left: 0;
  width: 100%;
  font-size: 10pt;
  color: rgb(30,30,30);
  .rc-slider-mark-text {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
     font-size: 10pt;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: rgb(30, 30, 30);
  }
}