.filter{
  height: 108px;
  position: relative;
  width: calc(95% + 4px);
  padding-right: 4px;
  margin-top: 5px;
  background-color: rgb(250,250,250);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  border-top: .5px solid rgb(200,200,200);
  border-left: .5px solid rgb(200,200,200);
  transition-duration: .08s;
  transition-timing-function: linear;
  &:hover{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  .filterSection{
    width: 100%;
    height: 33px;
    // border: 1px solid rgba(255,0,0,.1);
    padding: 2px;
    .filterSection-title{
      display: block;
      position: relative;
      top: 50%;
      float: left;
      color: rgb(20,20,20)
      font-weight: 550;
      margin-top: -10px;
      margin-left: 2.5px;
      margin-right: 2.5px;
    }
  }
  .titleAndControls{
    .titleInput{
      background-color: rgba(255,255,255,0);
      border: none;
      border-bottom: 1px solid rgb(200,200,200);
      height: 100%;
      color: rgb(20,20,20);
      padding: 3px;
      width: 60%;
      font-style: italic;
      &:focus{
        border-bottom: 1px solid rgb(150,150,150);
      }
    }
    .activeSlider{
      float: right;
      margin-right: 10px;
    }
    .removeFilterButton{
      height: 100%;
      line-height: 100%;
      text-align: center;
      float: right;
      .fa-trash{
        font-size: 13.5pt;
        color: rgb(80,80,80);
        transition-duration: .1s;
        top: 19%;
        position: relative;
        margin-right: 4px;
        cursor: pointer;
      }
      &:hover{
        .fa-trash{
          color: tomato;
        }
      }
    }
  }
  .fieldSelector{
    height: 42px;
    .select{
      // height: 80%;
      display: block;
      float: left;
      // float: left;
      // max-height: 100px;
      // overflow-y: scroll;
    }
    .select-field{
      width: calc(100% - 37px - 70px - 18px);
      margin-left: 5px;
    }
    .select-year{
      width: 70px;
      margin-left: 5px;
    }
  }
  .rangeSelector{
    // length of Range title is 47.45
    .sliderContainer{
      position: relative;
      float: right;
      top: 50%;
      margin-top: -7px;
      margin-left: 10px;
      margin-right: 10px;
      width: calc(100% - 47.45px - 10px - 20px);
      .slider{
        .rc-slider-handle{
          border: none;
          box-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.6);
        }
        .rc-slider-track-1{
          background-color: #1B9AF7
        }
      }
    }
  }
  .validationBar{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 4px;
    height: 100%;
    opacity: .7;
  }
  .validationBar-true{
    background-color: #81C784;
  }
  .validationBar-false{
    background-color: tomato;
  }
}