.filtersContainer {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .noFiltersMessage-container {
    height: 143px;
    width: 95%;
    text-align: center;
    line-height: 143px;
    user-select: none;
    cursor: default;
    .noFiltersMessage {
      font-size: 20pt;
      color: rgb(237, 237, 237);
    }
  }
}

.addFilterMessage {
  opacity: .7;
  color: #0A83C9;
  font-style: italic;
  font-size: 11pt;
  float: right;
  line-height: 50px;
  margin-right: 10px;
}

.header {
  .addFilterButton {
    position: relative;
    top: 25px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    float: right;
    background-color: #0A83C9;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    margin: 3px;
    margin-top: -15px;
    cursor: pointer;
    transition-duration: .2s;
    transition-property: box-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    .faPlusRotator {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-backface-visibility: hidden;
      transition-duration: .15s;
      transition-timing-function: linear;
      .fa-plus {
        font-size: 11pt;
        color: white;
        margin-top: 2px;
      }
    }
    &:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
  }
  .addFilterButton-inactive {
    background-color: rgba(10, 131, 201, .75);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0);
    cursor: default;
    &:hover {
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0);
    }
  }
}