.header {
  border-bottom: 2px solid #0A83C9;
  height: 30px;
  .header-title {
    font-size: 14pt;
    font-weight: 600;
    color: #0A83C9;
    line-height: 27px;
    .fa-filter {
      margin-left: 10px;
    }
    .featureCountMessage{
      opacity: .8;
      font-size: 10pt;
      font-weight: 400;
      margin-left: 20px;
    }
    .addFilterButton {
      position: relative;
      height: 22.5px;
      width: 22.5px;
      border-radius: 100%;
      float: right;
      background-color: #0A83C9;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
      margin: 3px;
      cursor: pointer;
      transition-duration: .2s;
      display: flex;
      justify-content: center;
      align-items: center;
      .faPlusRotator {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-backface-visibility: hidden;
        transition-duration: .15s;
        transition-timing-function: linear;
        .fa-plus{
          font-size: 11pt;
          color: white;
          margin-top: 2px;
        }
      }
      &:hover {
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
      }
    }
    .addFilterButton-inactive{
      opacity: .5;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0);
      cursor: default;
      &:hover{
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0);
      }
    }
  }
}

.filtersContainer {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .noFiltersMessage-container {
    height: 143px;
    width: 95%;
    text-align: center;
    line-height: 143px;
    .noFiltersMessage{
      font-size: 20pt;
      color: rgb(237,237,237);
    }
  }
}