.mapOption-resting {
  cursor: pointer;
  .mapOption-info {
    opacity: 0;
  }
}
.mapOption-chosen, .mapOption-chosenByThisComponent {
  .mapOption-info {
    opacity: 1;
    .mapOption-underline {
      width: 30%!important;
    }
  }
}
.mapOption-chosen {
  .mapOption-chosenIcon {
    opacity: 0.7
  }
}

.mapOption-notChosen {
  .mapOption-info {
    opacity: 0;
  }
}

.mapOption-containerSize-large, .mapOption-containerSize-medium {
  width: 50%;
  height: 33.33%
}
.mapOption-containerSize-small, .mapOption-containerSize-extraSmall {
  width: 100%;
  height: 22%;
}

.mapOption-large, .mapOption-medium {
  .mapOption-title-container {
    font-size: 18pt;
  }
  .mapOption-description-container {
    font-size: 12pt;
  }
}
.mapOption-small {
  .mapOption-title-container {
    font-size: 15pt;
  }
  .mapOption-description-container {
    font-size: 10pt;
  }
}
.mapOption-extraSmall {
  .mapOption-title-container {
    font-size: 12.5pt;
  }
  .mapOption-description-container {
    font-size: 8pt;
  }
}

.mapOption {
  position: relative;
  border: none;
  padding: 0px;
  transition-duration: 0.2s;
  cursor: pointer;
  overflow: hidden;
  min-height: 130px;
  .mapOption-image {
    min-height: 100%;
    max-width: 1000%;
  }
  .mapOption-info {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    transition-duration: 0.2s;
    color: white;
    padding: 5px;
    .mapOption-chosenIcon {
      position: absolute;
      top: 5px;
      left: 5px;
      color: #37df93;
      font-size: 20pt;
    }
    .mapOption-title-container {
      height: 25%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Noto Sans';
      font-weight: 700;
      letter-spacing: 3px;
      line-height: 23px;
    }
    .mapOption-underline-container {
      height: 5%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .mapOption-underline {
        width: 0%;
        height: 2px;
        background: white;
        transition: width 0.2s linear;
      }
    }
    .mapOption-description-container {
      height: 70%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Noto Sans';
    }
  }
  &:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.35);
    z-index: 500;
    .mapOption-info {
      opacity: 1;
    }
    .mapOption-underline {
      width: 30%!important;
    }
  }
  &:active {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
    z-index: 500;
    .mapOption-info {
      opacity: 1;
      background: rgba(0, 0, 0, .55);
    }
    .mapOption-underline {
      width: 25%!important;
    }
  }
}