.legendEntry-active{
  &:hover{
    background-color: rgba(0,0,0,.05)
    .legendEntry-colorSquare{
      opacity: 1
      .legendEntry-colorSquare-inner{
        opacity: .75
      }
    }
  }
}
.legendEntry{
  height: 25px;
  line-height: 25px;
  position: relative;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  // margin-bottom: 2px;
  
  .legendEntry-colorSquare{
    height: 15px;
    width: 15px;
    position: relative;
    border-radius: 3px;
    float: left;
    margin-left: 2px;
    margin-right: 8px;
    top: 50%;
    margin-top: -7.5px;
    z-index: 200;
    opacity: .8;
    .legendEntry-colorSquare-inner{
      position: absolute;
      border-radius: 3px;
      top: 10%
      left: 10%
      height: 80%;
      width: 80%;
      opacity: .5;
      z-index: 202;
    }
    .legendEntry-colorSquare-innerBacksplash{
      position: absolute;
      border-radius: 3px;
      top: 10%
      left: 10%
      height: 80%;
      width: 80%;
      background-color: white;
      z-index: 201;
    }
  }
  .legendEntry-title{
    float: left;
  }
}