.legendEntry-active{
  &:hover{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
    .fa-search-plus{
      opacity: 1;
    }
    .legendEntry-colorSquare{
      opacity: 1
      .legendEntry-colorSquare-inner{
        opacity: .75
      }
    }
  }
}
.legendEntry{
  height: 25px;
  line-height: 25px;
  position: relative;
  width: 100%;
  border-radius: 3px;
  transition: box-shadow 0.08s linear;
  cursor: pointer;
  .fa-search-plus{
    line-height: 25px;
    margin-right: 5px;
    opacity: 0;
    float: right;
    transition: color 0.08s linear;
    color: rgb(100,100,100);
  }
  .legendEntry-colorSquare{
    height: 15px;
    width: 15px;
    position: relative;
    border-radius: 3px;
    float: left;
    margin-left: 2px;
    margin-right: 8px;
    top: 50%;
    margin-top: -7.5px;
    z-index: 200;
    opacity: .8;
    .legendEntry-colorSquare-inner{
      position: absolute;
      border-radius: 3px;
      top: 10%
      left: 10%
      height: 80%;
      width: 80%;
      opacity: .5;
      z-index: 202;
    }
    .legendEntry-colorSquare-innerBacksplash{
      position: absolute;
      border-radius: 3px;
      top: 10%
      left: 10%
      height: 80%;
      width: 80%;
      background-color: white;
      z-index: 201;
    }
  }
  .legendEntry-title{
    float: left;
    // this takes into account the zoom icon;
    margin-right: 18.93px;
  }
}