// .header{
//   border-bottom: 2px solid #0A83C9;
//   height: 25px;
//   .header-title{
//     font-size: 14pt;
//     font-weight: 600;
//     color: #0A83C9;
//     .fa{
//       margin-left: 10px;
//     }
//   }
// }