.appInterface {
  width: 100%;
  height: 100%;
  transition: background-color 1s linear;
  .gif-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:none;
    z-index: 0;
    img {
      max-width: 50%;
      max-height: 50%;
      
    }
  }
  .repeatingText {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-image: url("https://i.imgur.com/vxtrm7S.png");
    background-repeat: repeat-y;
    background-size: 90%;
    background-position: center -1500px;
    animation: movebg 120s linear infinite;
    z-index: 10;
  }
  @keyframes movebg {
    0% {
      background-position: center -1500px;
    }
    100% {
      background-position: center 0px;
    }
  }
}
.appInterface-loader-true {
  opacity: 0;
}
.appInterface-loader-false {
  opacity: 1;
}
#appInterface-loader {
  z-index: 1000;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #F9BDD6;
  transition: opacity 2s linear;
  #appInterface-loader-spinner {
    width: 50px;
    letter-spacing: 3px;
    animation: spin 2s infinite linear;
  }
  #appInterface-loader-text {
    margin-top: 50px;
    color: #B25F99;
    animation: hover 1s infinite linear;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes hover {
    0% {
      transform: translateY(2.5px);
    }
    50% {
      transform: translateY(-2.5px);
    }
    100% {
      transform: translateY(2.5px);
    }
  }
}
.appInterface-colorIndex-1 {
  background-color: #F9BDD6;
}
.appInterface-colorIndex-2 {
  background-color: #D6ADFC;
}
.appInterface-colorIndex-3 {
  background-color: #A1C5E5;
}
.appInterface-colorIndex-4 {
  background-color: #E58EEC;
}
