.appInterface {
  width: 100%;
  height: 100%;
  transition: background-color 1s linear;
  .repeatingText {
    postion: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-image: url("http://i.imgur.com/vxtrm7S.png");
    background-repeat: repeat-y;
    background-size: 90%;
    background-position: center -200px;
    animation: movebg 20s linear infinite;
  }
  @keyframes movebg {
    0% {
      background-position: center -200px;
    }
    100% {
      background-position: center 0px;
    }
  }
}
.appInterface-colorIndex-1 {
  background-color: #F9BDD6;
}
.appInterface-colorIndex-2 {
  background-color: #D6ADFC;
}
.appInterface-colorIndex-3 {
  background-color: #A1C5E5;
}
.appInterface-colorIndex-4 {
  background-color: #E58EEC;
}
