// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;

html{
height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  border: none;
  overflow: hidden;
}
#app-wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: right;
  justify-content: right;
  background: none;
}