// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;

html{
height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  border: none;
  overflow: hidden;
  .legendCanvas{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white
  z-index: 2000
  height: 300;
  width: 300;
  #legendImage{
    height: 100%;
    width: 100%;
  }
}
}
#app-wrapper {
  height: 100vh;
  width: 100vw;
  // position: relative;
  // display: flex;
  // align-items: right;
  // justify-content: right;
  background: none;
}

.mainLoadingPane {
  position: absolute;
  pointer-events: auto;
  user-select: none;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  background-color: rgb(220, 220, 220);
  z-index: 1000000;
  opacity: 1;
  transition-duration: .5s;
  -webkit-transition-property: opacity; /* Safari */
  transition-property: opacity;
  .loadingSpinner {
    position: absolute;
    z-index: 1000;
    box-sizing: border-box;
    border-radius: 100%;
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-top-color: #0A83C9;
    animation: spin .5s infinite linear;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    left: 50%;
    top: 50%;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rc-slider-tooltip{
  z-index: 1000;
  transform: translateY(5px);
}
.rc-slider-tooltip-content{
  transform: translateY(7.5px);
  .rc-slider-tooltip-arrow{
    transform: inherit!important;
    border-top-color: #0A83C9!important;
  }
  .rc-slider-tooltip-inner{
    background-color: #0A83C9;
  }
}