#map {
  postion: absolute;
  height: 100vh;
  left: 436px;
  width: calc(100vw - 436px);
}
.mapboxgl-popup-content {
  padding: 5px;
  .mapboxgl-popup-close-button{
    z-index: 100;
  }
  .selection {
    position: relative;
    display: block;
    .selectionTitle {
      margin-left: 3px;
      position: relative;
      vertical-align: middle;
      line-height: 30px;
      font-weight: 600;
      font-size: 10pt;
      color: rgb(10, 10, 10);
    }
    .tableContainer{
      height: 100px;
      overflow-y: scroll;
      border: 1px solid rgb(220,220,220);
      tr{
        font-size: 8.5pt;
        td{
          padding: 2px;
          height: 25px;
          .span-property{
            font-weight: 400;
            color: rgb(10,10,10);
          }
          .span-value{
            font-weight: 200;
            color: rgb(35,35,35);
          }
        }
        .td-property{
          border-right-width: .5px;
          border-right-style: solid;
          border-right-color: rgb(220,220,220);
        }
        .td-value{
          border-right-width: .5px;
          border-right-style: solid;
          border-right-color: rgb(230,230,230);
          padding-left: 5px;
          max-width: 120px;
        }
      }
      .tr-dark{
        background-color: rgba(240,240,240,.9); 
      }
      #tr-final{
        td{
          border-bottom-width: 0px;
        }
      }
    }
  }
  .paneSpacerHorizontal {
    height: 5px;
  }
}